@import "colors.rasi"

* {
  background-color:       @BG;
  text-color:             @FG;
  font:	      	 	  "iosevka 10";
}

window {
  width:      	      220px;
  padding:    	      20px;
  border:	      2px;
  border-color:       @BDR;
  location:           center;
  x-offset:           0;
  y-offset:           -4%;
}

entry {
  expand:     true;
  width:      150px;
  text-color: @BDR;
}
